/** bootstrap **/

$icon-font-path: '../fonts/';

@import 'bootstrap/bootstrap.scss';

@mixin box-shadow($var) {
  box-shadow: $var;
  -webkit-box-shadow: $var;
  -ms-box-shadow: $var;
  -o-box-shadow: $var;
  -ms-box-shadow: $var;
}

@mixin border-radius($var) {
  border-radius: $var;
  -ms-border-radius: $var;
  -o-border-radius: $var;
  -webkit-border-radius: $var;
  -moz-border-radius: $var;
}

/** author styles **/

$softgray: #e5e5e5;
$darkgray: rgb(119, 119, 119);
$darkblue: #2c4f85;
$lightblue: #3d6db8;
$lightblackgray: #444;
$blackgray: #222;

.form-control {
  @include border-radius(0px);
}

textarea.form-control {
  min-height: 100px;
}

.jumbotron {
  background-repeat: no-repat; background-position: center center; background-size: cover;
}

main {
  padding-bottom: 56px;
}

.nav-pad {
  padding-top: 135px;
}

.btn-default {
  background-color: $darkblue;
  color: white;
  border-color: $softgray;
  &:hover {
    background-color: $lightblue;
    color: white;
  }
}

.navbar.scrolled {
  position:fixed;
  top: 0;
  .container {
    width: 100%;
    padding: 0;
    transition: width .2s;
  }
  .navbar-soundview {
    border-radius: 0px;
  }
}

.navbar {
  top:30px;
  position:absolute;
  width: 100%;
  .container {
    transition: width .2s;
  }
  .navbar-soundview {
    border-radius: 8px;
    background:white;
    height:80px;
    padding: 10px 25px;

    @include box-shadow(0 1px 3px rgba(0,0,0,.4));

    .navbar-brand {
      line-height:60px;
      padding: 0;
      margin-left: 0px;
    }

    .navbar-nav {
      height: 60px;
      & > li + li {
        margin-left: 5px;
      }
      li {
        &.active a, &:hover a {
          background-color: $darkblue;
          border-radius: 4px;
          color:white;
        }
        height: 100%;
        a {
          height: 100%;
          line-height: 30px;
        }
      }
    }

  }
}

.jumbotron {
  .slide-content {
    padding: 24px 30px 0px 0px;
    h2 {font-size:45px;}
    p {
      line-height:1.5;
      font-size:18px;
      margin-top: 20px;
    }
  }
}
#social-overlay {
  padding-bottom: 5px;
}
.social-list {
  & > li + li {
    margin-left: 5px;
  }
  li {

    a {
      background-image: url('/img/facebook.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      text-indent: -5000px;
      opacity: 0.3;
    }
    &.twitter a {background-image: url('/img/twitter.png');}
    &.gplus a {background-image: url('/img/gplus.png');}
    &.linkedin a {background-image: url('/img/linkedin.png');}
    &.active a, &:hover a {
      opacity: 1;
      background-color: transparent !important;
    }
  }
}
.slide-sidebar {
  .working-hours {
    padding:15px 25px;
    .panel-heading {
      padding-top: 5px;
      background:transparent;
      border-bottom: 1px solid $softgray;
      h3 {
        text-align: center;
        font-size: 16px;
        margin: 0;
      }
    }
    .list-group {
      .list-group-item {
        border: 0;
        position: relative;
        font-size:12px;
        padding-left: 0;
        color: $darkgray;
        span {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.thumbnail-panel {
  border: 0;
  h3 {
    font-size:17px;
    border-bottom: 1px dotted $softgray;
    padding-bottom: 9px;
  }
}

footer {

  .pre-footer {
    background-color: $lightblackgray;
    padding-top: 25px;
    .panel {
      background: transparent;
      border: 0;
      .panel-heading {
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        h3 {color: white; font-size: 18px; margin: 0; margin-bottom: 6px;}
        h4 {font-size: 12px; color: $softgray; margin: 0;margin-bottom: 5px;}
        border-bottom: 1px dotted $softgray;
      }
      .panel-body,.list-group {color: white;}
      .panel-body {
        padding-left: 0; padding-right: 0;
        font-size:12px;
        ul {
          padding-left: 20px;
          li {margin-bottom: 5px;}
        }
      }

      .list-group {
        padding-top: 10px;
        &, li {background: none;}
        li {
          border: 0;
          font-size: 12px;

          padding: 0;
          padding-bottom: 5px;
          a {
            color: white;
          }
        }
      }

    }

  }
  .footer {
    background-color: $blackgray;
    color: white;
    padding: 10px 0 10px;
    height: 40px;
    line-height:20px;
    font-size:12px;
    color: $softgray;
  }

}

.peek {


  figure {
    @include box-shadow(0 1px 3px rgba(0,0,0,.4) inset);
    height: 260px; background-size: cover; background-position: center center;
  }
}
