---
layout: default
---

<div class="jumbotron nav-pad" style="position:relative;">

  <div id="jumbo-carousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active" style="background-image: url('http://i.istockimg.com/file_thumbview_approve/19552587/2/stock-photo-19552587-mechanic-with-a-wrench.jpg');"></div>
      <div class="item" style="background-image: url('http://i.istockimg.com/file_thumbview_approve/18922521/2/stock-photo-18922521-repairing-car-with-computer.jpg');"></div>
      <div class="item" style="background-image: url('http://i.istockimg.com/file_thumbview_approve/21678240/2/stock-photo-21678240-auto-mechanics-in-garage.jpg');"></div>
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

  </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="slide-content">
                    <h2>Servicing Vehicles for over 30 Years</h2>
                    <p>
                        From our humble beginnings 30 years ago, we have always strived to maintain Ralph Sr's vision, and we're still going strong. Come see what all the fuss is about.

                    </p>
                    <a href="/about"><button class="btn btn-default btn-lg">Learn About Us</button></a>
                </div>

            </div>
            <div class="col-md-3">
                <aside class="sidebar slide-sidebar">
                    <div id="social-overlay" class="clearfix">
                        <ul class="nav nav-pills pull-right social-list">
                            <li class="facebook"><a href="#">Facebook</a></li>
                            <li class="gplus"><a href="#">Google+</a></li>
                            <li class="linkedin"><a href="#">LinkedIn</a></li>
                            <li class="twitter"><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="panel panel-default working-hours">
                        <div class="panel-heading">
                            <h3><i class="glyphicon glyphicon-time"></i> Our Hours</h3>
                        </div>

                        <ul class="list-group">
                            {% for hour in site.hours %}
                                {% if hour.day %}
                            <li class="list-group-item">
                                <span class="content">{{ hour.start }} - {{ hour.end }}</span>
                                {{ hour.day }}
                            </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </aside>
            </div>

            <div class="col-xs-12">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-earphone"></i> 914.698.6888</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">
                          <i class="glyphicon glyphicon-print"></i> 914.777.7978
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">
                          <i class="glyphicon glyphicon-road"></i> 600 W. Boston Post Rd.
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<main>
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome</h2>
            <p>
                Since 1979, Soundview Service Center has provided motorists in the Mamaroneck area with comprehensive auto repair services that include Car Care Services, General Services, Undercar Services, Heating and Cooling Services, Electrical Services, Transmission Services, Electronic Services, Internal Engine Services, Heavy-Duty Services, Towing and Miscellaneous Services. Our goal is to offer the best services available at affordable prices to get you back on the road in no time.
            </p>
            <p>
                You'll be hard-pressed to find the same level of expertise that our auto mechanic specialists provide! We have years of experience working on both domestic and import vehicles of all makes and models and can work with you to find cost-effective repair and maintenance alternatives.
            </p>
            <p>
                <strong>Also don't forget to subscribe for email updates</strong>
            </p>
            <button class="btn btn-default">Subscribe</button>
        </div>
      </div>
      <!-- .row -->
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="thumbnail thumbnail-panel">
                <img data-src="holder.js/300x200" alt="..." src="http://i.istockimg.com/file_thumbview_approve/15275097/2/stock-photo-15275097-successful-financial-plans.jpg" class="img-responsive">
                <div class="caption">
                    <h3>Quality Service with a Smile</h3>
                    <p>
                        We love to go above and beyond your expectations to give you the best possible treatment. From our full-service gas to our comprehensive vehicle care, let us help get you up and running.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail thumbnail-panel">
                <img data-src="holder.js/300x200" alt="..." src="http://i.istockimg.com/file_thumbview_approve/5595939/2/stock-photo-5595939-handshake-of-businesspeople.jpg" class="img-responsive">
                <div class="caption">
                    <h3>Trustworthy and Fair</h3>
                    <p>
                        Who says good mechanics are hard to find? Stop looking and let us give you a fair estimate and justification for everything we repair. We will <strong>never</strong> sell you something you don't need.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail thumbnail-panel">
                <img data-src="holder.js/300x200" alt="..." class="img-responsive" src="http://i.istockimg.com/file_thumbview_approve/24583264/2/stock-photo-24583264-opening-car-door.jpg">
                <div class="caption">
                    <h3>Convience at Another Level</h3>
                    <p>
                        We'll pick you or your car up from home and drive it back. Don't lift a finger and let us do all the work for you.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail thumbnail-panel">
                <img data-src="holder.js/300x200" alt="..." src="http://i.istockimg.com/file_thumbview_approve/5200828/2/stock-photo-5200828-v8-supercharged-car-engine-and-spanner.jpg" class="img-responsive">
                <div class="caption">
                    <h3>One-Stop Shop</h3>
                    <p>
                        Domestic cars to foreign cars, brake pads to rotors, and everything in between; we do it all! Let us be your one stop shop and have peace of mind knowing your car is in good hands.
                    </p>
                </div>
            </div>
        </div>
      </div>
      <!-- end second row -->

    </div>
    <hr>
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Testimonials</h3>
            <h4>Check out what our customers have said about our services.</h4>
            <blockquote class="well">
                <p>
                    Ralph and the guys at the shop identified my problem quickly and took care of it. I appreciate everything they did for me and plan to bring my vehicle back for regular maintenance.
                </p>
                <footer><cite title="Source">Michael Lanber</cite></footer>
            </blockquote>
        </div>
    </div>
  </div>
      <hr>
      <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <h3>Ask a Question</h3>
            <h4>Ask us anything</h4>
            <form role="form">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <div class="form-group">
                                <label for="disabledTextInput">Name</label>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <div class="form-group">
                                <label for="disabledTextInput">Email</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            <div class="form-group">
                                <label for="disabledTextInput">Reason</label>
                                <input type="text" class="form-control" placeholder="Reason">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-12">
                        <fieldset>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <!-- 3rd row -->
  </div>
</main>

<div class="peek">

    <figure class="map" style="background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=40.9443744,-73.7388227&zoom=13&size=1920x260&maptype=roadmap&markers=color:red%7Clabel:A%7C40.9443744,-73.7388227&scale=2);">

    </figure>
</div>
