  <footer>
      <div class="pre-footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3>Navigation</h3>
                              <h4>Find your way</h4>
                          </div>
                          <ul class="list-group">
                            {% for page in site.pages %}
                              {% if page.title %}
                              <li class="list-group-item">
                                  <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                              </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3>Facebook</h3>
                              <h4>Like us!</h4>
                          </div>
                          <div class="panel-body">
                              <div class="fb-like-box" data-href="https://www.facebook.com/soundviewservice" data-width="263px" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3>Recent Posts</h3>
                              <h4>What we're talking about</h4>
                          </div>
                          <div class="panel-body">
                              <ul>
                                {% for post in site.posts %}
                                  <li>
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h3>Recent Comments</h3>
                              <h4>What others are talking about</h4>
                          </div>
                          <div class="panel-body">
                             <script type="text/javascript" src="http://soundviewservicenter.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=1&excerpt_length=0"></script>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!-- end prefooter -->
      </div>
      <div class="footer">
          <div class="container">
              &copy; Copyright 2014 - {{ site.title }}
          </div>
      </div>

  </footer>

</div>
