<div id="wrapper">

    <nav class="navbar navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-soundview">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">Soundview Service Center</a>
                </div> <!-- navbar-header -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% for apage in site.pages %}
                          {% if apage.title %}
                            {% if apage.url == page.url %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                              <a class="page-link" href="{{ apage.url | prepend: site.baseurl }}">
                                {{ apage.title }}
                              </a>
                            </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </div><!--/.navbar-collapse -->
            </div>

    </nav>
