---
layout: default
---

{% if page.mantel %}
<div class="jumbotron nav-pad" style="background-image: url('{{page.mantel}}')">
{% else %}
<div class="jumbotron nav-pad">
{% endif %}
    <div class="container">
      <div class="row"><div class="col-md-10 col-md-offset-1">
        <div class="slide-content">
          <h2>{{ page.title }}</h2>
        </div>
      </div></div>
    </div>

</div>

<header>

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <ol class="breadcrumb">
          <li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
          <li>{{ page.title }}</li>
        </ol>

      </div>

    </div>

  </div>

</header>

<div class="container">
  <main>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <section class="page">

          <div class="row">
            <div class="col-md-8">

              <article class="post-content">
              {{ content }}
              </article>
            </div>

            <div class="col-md-3 col-md-offset-1">
              <section class="sidebar">
                {% include sidebar.html %}
              </section>
            </div>
          </div>

        </section>
      </div>
    </div>
  </main>
</div>
